html,

body {
  --text-size: 10rem;
  --small-text-size: 1.7rem;
  --header-text-size: calc(var(--small-text-size) * 2);
  --img-size: 10rem;
  --big-img-size: 25rem;
  --button-color: transparent;

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
  overflow-y: visible;
   
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 1300px) {
  body {
    --big-img-size: 20rem;
    
  }

 
}


@media only screen and (max-width: 1127px) {
   body {
     --text-size: 8rem;
     
   }

  
}

@media only screen and (max-width: 979px) {
    body {
      --text-size: 7rem;
      --small-text-size: 1.5rem;
      --button-color: black;
    }
  
  }
@media only screen and (max-width: 900px) {
  body {
    --text-size: 6rem;
    --img-size: 14rem;
    --big-img-size: 18rem;
  }

}

@media only screen and (max-width: 800px) {
   body {
     --text-size: 5rem;
   }
 
}

@media only screen and (max-width: 764px) {
  body {
    --big-img-size: 16rem;
  }

}

@media only screen and (max-width: 764px) {
  body {
    --big-img-size: 14rem;
  }

}

@media only screen and (max-width: 690px) {
  body {
    --big-img-size: 20rem;
  }

}

@media only screen and (max-width: 614px) {
  body {
    --big-img-size: 20rem;
  }

}
@media only screen and (max-width: 550px) {
  body {
    --text-size: 3rem;
    --header-text-size: calc(var(--small-text-size) * 1.1);

  }

}

@media only screen and (max-width: 530px) {
  body {
    --big-img-size: 20rem;
  }

}

@media only screen and (max-width: 486px) {
  body {
    --big-img-size: 15rem;
  }

}

@media only screen and (max-width: 330px) {
  body {
    --text-size: 2.5rem;
    --small-text-size: 1.2rem;
    
  }

}
@media only screen and (max-width:279px) {
  body {
    --text-size: 2.3rem;
  }

}


.slick-list {
  text-align: center;
  align-items: center;
  justify-content: center;
}
